{% load static %}

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

:root{
    --c1: #044D8C;
    --c2: #D90B31;
    --fond: 'white';
    --text: 'black';
}

html, body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--fond);
}

body {
    color: var(--text);
    font-size: 1.5rem;
    text-align: center;
    justify-content:space-between;
    margin: auto;
}

h1 {
    color: var(--c1);
    font-size: 3rem;
}

h2 {
    color: var(--c2);
}

.menu {
    background-color: var(--c2);
    font-size: 1.6rem;
    color: white;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 400px;
}

.menu:hover{
    color: var(--c1);
    background-color: white;
    box-shadow: 1px 1px 5px var(--c1);
    transition: ease 0.2s;
}

a:link {
    color: var(--c1);
    text-decoration: none;
}

a:visited {
    color: var(--c1);
    text-decoration: none;
}

a:hover {
    color: var(--c2);
    text-decoration: none;
    transition: 0.5s ease;
}

button,
input,
select,
textarea {
  font-size: 1.5rem;
  margin: 1rem auto;
  padding: 0.5rem;
  justify-content: center;
}

.bouton-accueil {
    display: flex;
    flex-direction: row;
    width: 350px;
    background-color: var(--c1);
    color: white;
}

form {
    margin: auto;
}

.radio {
    display:inline-flex;
}

.form-check {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0 1rem;
}

.slider {
    margin: 0 1rem;
}

table {
    width: 90%;
    margin: auto;
    justify-content: center;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
    text-shadow: rgba(0, 0, 0, 0) 1px 5px 5px;
    max-width: 900px;
    margin: 2rem auto;
}

thead th {
   color: white;
   font-size: calc(30px);
   font-weight: bold;
   text-align: center;
   background-color: var(--c2);
}

input {
    text-align: center;
}

#logo {
    width: 20%;
    height: 20%;
    margin: auto;
    padding: 0 0 2rem 0;
}

#id_telephone, #id_nom, #id_prenom, #id_DDN{
    width: 220px;
    text-align: center;
}

.message {
    background-color: var(--c2);
    padding: 1rem;
}

.definition {
    width: 50%;
    margin: auto;
}

.video {
    padding: 1rem;
}

.liste {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}

.gif {
    padding: 1rem;
}

.question {
    padding: 1rem;
    font-weight: bold;
}

label:hover {
    color: var(--c2);
}

@media screen and (max-width: 700px) {
    #logo {
        width: 45vw;
    }

    .definition {
        width: 80vw;
    }

    .gif {
        max-width: 95vw;
    }
}