{% load static %}

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --c1: #044D8C;
    --c2: #D90B31;
    --fond: 'white';
    --text: 'black';
}

html, body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--fond);
}

body {
    color: var(--text);
    font-size: 1.5rem;
    text-align: center;
    justify-content:space-between;
    margin: auto;
}

h1 {
    color: var(--c1);
    font-size: 3rem;
}

h2 {
    color: var(--c2);
}

a:link {
    color: var(--c1);
    text-decoration: none;
}

a:visited {
    color: var(--c1);
    text-decoration: none;
}

a:hover {
    color: var(--c2);
    text-decoration: none;
    transition: 0.5s ease;
}

button,
input,
select,
textarea {
  display: flex;
  font-size: 1.6rem;
  margin: 1rem auto;
  padding: 1rem;
}

.bouton-accueil {
    width: 380px;
}

form {
    margin: auto;
}

#logo {
    width: 20%;
    height: 20%;
    margin: auto;
}

#id_telephone{
    width: 170px;
    text-align: center;
}

.message {
    background-color: var(--c2);
    color: var(--fond);
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    #logo {
        width: 50vw;
    }

    .bouton-accueil{
        width: 95vw;
        margin: auto;
    }
}