{% extends 'base.html' %}

{% block content %}
{% load static %}

<form action="" method="post" novalidate>
    {% csrf_token %}
    <div style="font-size: 3rem; display: inline-flex; align-items: center">&#128241; {{ form.telephone }} &#128241;</div>
    <input class="bouton-accueil" type="submit" name="billetos" value="&#128642; Voir mes billets &#128642;">
    <input class="bouton-accueil" style="background-color: var(--c2)" type="submit" name="carta" value="&#128240; Récupérer ma carte &#128240;">
</form>


{% endblock %}