{% extends 'base.html' %}

{% block content %}
{% load static %}

<a href="{% url 'index' %}"><h2 class="menu">Récupérer un billet</h2></a>
<a href="{% url 'ajouter-billet' %}"><h2 class="menu">Ajouter un billet</h2></a>
<a href="{% url 'ajouter-utilisateur' %}"><h2 class="menu">Ajouter un utilisateur</h2></a>
<a href="{% url 'dico' %}"><h2 class="menu">Dico Basket</h2></a>
<a href="{% url 'quiz' %}"><h2 class="menu">Quiz</h2></a>
<a href="{% url 'timer' %}"><h2 class="menu">Timer</h2></a>

{% endblock %}